-
  var articlesList2 = [
  {
  img: 'img-1',
  title: 'Экскурсия к мраморному каньону рускеала от 2 250 руб.',
  description: 'Жемчужина Карелии - горный парк «Рускеала», именуемый мраморным каньоном поразит Вас своим великолепием. Отвесные скалы горного парка, чистейшие мраморные озера с изумрудной водой, загадочные штольни и штреки будут завораживать Вас своим великолепием на протяжении всей экскурсии.'
  },
  {
  img: 'img-1',
  title: 'Экскурсия к мраморному каньону рускеала от 2 250 руб.',
  description: 'Жемчужина Карелии - горный парк «Рускеала», именуемый мраморным каньоном поразит Вас своим великолепием. Отвесные скалы горного парка, чистейшие мраморные озера с изумрудной водой, загадочные штольни и штреки будут завораживать Вас своим великолепием на протяжении всей экскурсии.'
  },
  {
  img: 'img-1',
  title: 'Экскурсия к мраморному каньону рускеала от 2 250 руб.',
  description: 'Жемчужина Карелии - горный парк «Рускеала», именуемый мраморным каньоном поразит Вас своим великолепием. Отвесные скалы горного парка, чистейшие мраморные озера с изумрудной водой, загадочные штольни и штреки будут завораживать Вас своим великолепием на протяжении всей экскурсии.'
  }
  ];

mixin articles-list-2(list)
  .-articles-list-2&attributes(attributes)
    each item, index in list
      article.-article-item-2
        +a().__inner.glyphicon.glyphicon-arrow-angle-pointing-to-right
          .__img-wrap
            img.__img(src=`${paths.imgContent}/articles-list-2/104x104/${item.img}.jpg`
            alt='' data-object-fit='cover' onload='objectFit(this)')
          .__content
            h3.__title !{item.title}
            .__description
              p !{item.description}