-
  var albumsListMedical = [
  {
  img: 'Fotolia_103968342_Subscription_Monthly_M1.jpg',
  caption: 'Мероприятия'
  },
  {
  img: 'Fotolia_98084818_Subscription_Monthly_M1.jpg',
  caption: 'Заголовок длинный длинный заголовок'
  },
  {
  img: 'Fotolia_78678976_Subscription_Monthly_M1.jpg',
  caption: 'Заголовок'
  },
  {
  img: 'Fotolia_82745345_Subscription_Monthly_M-(2)1.jpg',
  caption: 'Заголовок'
  },
  {
  img: 'Fotolia_78678976_Subscription_Monthly_M1.jpg',
  caption: 'Заголовок'
  },
  {
  img: 'Fotolia_82745345_Subscription_Monthly_M-(2)1.jpg',
  caption: 'Заголовок'
  },
  {
  img: 'Fotolia_103968342_Subscription_Monthly_M1.jpg',
  caption: 'Мероприятия'
  },
  {
  img: 'Fotolia_98084818_Subscription_Monthly_M1.jpg',
  caption: 'Заголовок длинный длинный заголовок'
  }
  ];

mixin albums-list(albumsList)
  .-albums-list&attributes(attributes)
    .__row.row
      each album, index in albumsList
        .__col.col-xs-12.col-sm-4.col-md-3
          figure.-album-item(data-fancybox=`album-${index + 1}` data-type='ajax'
          data-src=`popups/${suffix}/album-1.html` data-fancybox--single data-caption=`<strong>${album.caption}</strong> &#8226; 27 сентября 2016`)
            img.__img(src=`${paths.imgContent}/photos-list/295x295/${album.img}`
            srcset=`${paths.imgContent}/photos-list/295x295/${album.img} 1x, ${paths.imgContent}/photos-list/590x590/${album.img} 1.25x`
            alt=album.caption data-object-fit='cover' onload='objectFit(this)')
            figcaption.__caption.glyphicon.glyphicon-plus
              .__title(title=album.caption) #{album.caption}
              +time().__date(title='27 сентября 2016') 27 сентября 2016
      // Spacers
      .__col.col-xs-12.col-sm-4.col-md-3
      .__col.col-xs-12.col-sm-4.col-md-3
      .__col.col-xs-12.col-sm-4.col-md-3
      .__col.col-xs-12.col-sm-4.col-md-3