-
  var articlesList3 = [
  {
  img: 'moskva-kremlj',
  title: 'Москва',
  range: '1',
  price: '29&nbsp;558',
  description: 'В конце прошлого года Москва была включена в топ-лист самых привлекательных для путешествий городов мира. Более миллиона иностранцев приезжают к нам на летние каникулы. Неудивительно, что и сами россияне стали чаще выбирать столицу в качестве отдыха'
  },
  {
  img: '171',
  title: 'Симферополь',
  range: '6',
  price: '30&nbsp;081',
  description: 'Симферополь — крупнейший транспортный и экономический центр Крыма. Город богат древними мечетями, замками и парками. Неподалеку от Симферополя сохранилась пещера Эмине-Баир-Хосар. как утверждают ученые, в своем первозданном виде.'
  },
  {
  img: 'sp',
  title: 'Санкт-Петербург',
  range: '2',
  price: '14&nbsp;428',
  description: 'Эрмитаж, Дворцовая площадь, Петергоф (малый дворец и ансамбль фонтанов Нижнего парка), Юсуповский дворец, Исаакиевский собор. Стоит лишь раз съездить в Санкт-Петербург и влюбиться в него навсегда.'
  },
  {
  img: '104763643',
  title: 'Париж',
  range: '7',
  price: '31&nbsp;070',
  description: '«Увидеть Париж и умереть» — так говорят практически все туристы. А провести в Париже вдвоем самые романтические две недели — лучший тренд летнего сезона 2017.'
  },
  {
  img: '437b8f7ed96a188ed1bac6b91fb05c4a',
  title: 'Сочи',
  range: '3',
  price: '21&nbsp;351',
  description: 'Сочи можно отдохнуть по-разному. Один вариант: нежиться на пляже, сделать фото с попугаем и съездить на экскурсию. Вариант два: отдохнуть как в солнечной Калифорнии — с драйвом! Вместо прогулок на катере — поймать волну на вейке. Вместо экскурсии на автобусе — прогулка на велосипеде.'
  },
  {
  img: '92226413',
  title: 'Прага',
  range: '8',
  price: '26&nbsp;671',
  description: 'Самый недорогой европейский город с дешёвыми чешскими пабами и красивейшим историческим центром. Поездка даже в летний сезон стоит значительно дешевле, чем в Париж или Амстердам.'
  },
  {
  img: 'br',
  title: 'Барселона',
  range: '4',
  price: '49&nbsp;907',
  description: 'Один из лучших европейских городов для шопинга. Здесь есть магазины всех ценовых категорий — от моллов до лавочек. И все в радиусе 5 км от транспортного пути Barcelona Shopping Line. За покупками ехать лучше в июле. Август — традиционный месяц отпусков, большинство магазинов не работают.'
  },
  {
  img: 'original',
  title: 'Казань',
  range: '9',
  price: '13&nbsp;902',
  description: 'Казань – старейший город России, в котором город дружат мусульманские мечети и православные храмы. Город удивит вас не только своей древней историей, но интересными маршрутами, огромными развлекательными центрами и клубами.'
  },
  {
  img: 'colosseum_2014',
  title: 'Рим',
  range: '5',
  price: '42&nbsp;976',
  description: 'В «Вечном городе» можно бесконечно гулять и изучать исторические достопримечательности, храмы, музеи и парки. Однако одно из любимых развлечений туристов — посетить местный футбольный матч. Итальянцы умеют делать из этого шоу.'
  },
  {
  img: 'maxresdefault',
  title: 'Краснодар',
  range: '10',
  price: '21&nbsp;085',
  description: 'Еще один древний российский город, где до сих пор можно попасть на несколько столетий назад. Летом город превращается в мекку туристов.'
  }
  ];

mixin articles-list-3(list)
  .-articles-list-3&attributes(attributes)
    .__row.row
      each item, index in list
        .__col.col-xs-12.col-md-6
          article.-article-item-3
            .__img-wrap
              img.__img(src=`${paths.imgContent}/articles-list-3/565x250/${item.img}.jpg`
              alt='' data-object-fit='cover' onload='objectFit(this)')
            .__content
              header.__header
                h3.__title !{item.title}
                .__range !{item.range}
                .__rate
              .__product 2 недели на двоих &mdash; #[span.__price от #[strong !{item.price}] руб.]
              .__description
                p !{item.description}

      // Spacers
      .__col.col-xs-12.col-md-6
      .__col.col-xs-12.col-md-6