mixin section-instagram()
  // Section-instagram
  section.-section-instagram&attributes(attributes)
    header.__header
      h2.__title
        span.__title-icon.icon-instagram
        +a().__title-link @hobby_ostrov
    .__photo-list
      .__photo-list-inner
        +a().__photo-item
          img.__photo-img(
            src='static/img/content/section-instagram/150x150/EYRuHlpkZas-150x150.jpg'
            srcset='static/img/content/section-instagram/150x150/EYRuHlpkZas-150x150.jpg 1x, ' +
            'static/img/content/section-instagram/300x300/EYRuHlpkZas-300x300.jpg 2x'
            alt='' title=''
          )
        +a().__photo-item
          img.__photo-img(
          src='static/img/content/section-instagram/150x150/rgUWXgtXzPs-150x150.jpg'
          srcset='static/img/content/section-instagram/150x150/rgUWXgtXzPs-150x150.jpg 1x, ' +
          'static/img/content/section-instagram/300x300/rgUWXgtXzPs-300x300.jpg 2x'
          alt='' title=''
          )
        +a().__photo-item
          img.__photo-img(
          src='static/img/content/section-instagram/150x150/s0J90CErdr0-150x150.jpg'
          srcset='static/img/content/section-instagram/150x150/s0J90CErdr0-150x150.jpg 1x, ' +
          'static/img/content/section-instagram/300x300/s0J90CErdr0-300x300.jpg 2x'
          alt='' title=''
          )
        +a().__photo-item
          img.__photo-img(
          src='static/img/content/section-instagram/150x150/tDoFHM3l93s-150x150.jpg'
          srcset='static/img/content/section-instagram/150x150/tDoFHM3l93s-150x150.jpg 1x, ' +
          'static/img/content/section-instagram/300x300/tDoFHM3l93s-300x300.jpg 2x'
          alt='' title=''
          )
        +a().__photo-item
          img.__photo-img(
          src='static/img/content/section-instagram/150x150/EYRuHlpkZas-150x150.jpg'
          srcset='static/img/content/section-instagram/150x150/EYRuHlpkZas-150x150.jpg 1x, ' +
          'static/img/content/section-instagram/300x300/EYRuHlpkZas-300x300.jpg 2x'
          alt='' title=''
          )
  // /Section-instagram