-
  var servicesListMedical = [
  {
  img: 'Fotolia_103968342_Subscription_Monthly_M.jpg',
  title: 'Лечение',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и ' +
  'детям оказываются все виды медицинской помощи. Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  },
  {
  img: 'Fotolia_98084818_Subscription_Monthly_M.jpg',
  title: 'Диагностика',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и ' +
  'детям оказываются все виды медицинской помощи. Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  },
  {
  img: 'Fotolia_78678976_Subscription_Monthly_M.jpg',
  title: 'Скорая помощь',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и ' +
  'детям оказываются все виды медицинской помощи. Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  },
  {
  img: 'Fotolia_82745345_Subscription_Monthly_M-(2).jpg',
  title: 'Медицинские справки',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и ' +
  'детям оказываются все виды медицинской помощи. Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  }
  ];

  var servicesListBeauty = [
  {
  img: 'Fotolia_95648321_Subscription_Monthly_M.jpg',
  title: 'Лечение',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и ' +
  'детям оказываются все виды медицинской помощи. Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  },
  {
  img: 'Fotolia_116390461_Subscription_Monthly_M.jpg',
  title: 'Диагностика',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и ' +
  'детям оказываются все виды медицинской помощи. Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  },
  {
  img: 'Fotolia_114876462_Subscription_Monthly_M.jpg',
  title: 'Скорая помощь',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и ' +
  'детям оказываются все виды медицинской помощи. Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  },
  {
  img: 'Fotolia_101760019_Subscription_Monthly_M.jpg',
  title: 'Медицинские справки',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и ' +
  'детям оказываются все виды медицинской помощи. Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  }
  ];

  var servicesListFitness = [
  {
  img: 'Fotolia_105369417_Subscription_Monthly_M.jpg',
  title: 'Тренажерный зал',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и ' +
  'детям оказываются все виды медицинской помощи. Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  },
  {
  img: 'Fotolia_87950553_Subscription_Monthly_M.jpg',
  title: 'Групповые програмы',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и ' +
  'детям оказываются все виды медицинской помощи. Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  },
  {
  img: 'Fotolia_85537255_Subscription_Monthly_M.jpg',
  title: 'Танцевальные студии',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и ' +
  'детям оказываются все виды медицинской помощи. Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  },
  {
  img: 'Fotolia_109081006_Subscription_Monthly_M.jpg',
  title: 'Сайкл',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и ' +
  'детям оказываются все виды медицинской помощи. Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  }
  ];

  var servicesListPet = [
  {
  img: 'Fotolia_114448933_Subscription_Monthly_M.jpg',
  title: 'Терапия',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и ' +
  'детям оказываются все виды медицинской помощи. Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  },
  {
  img: 'Fotolia_107405647_Subscription_Monthly_M.jpg',
  title: 'Обследования',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и ' +
  'детям оказываются все виды медицинской помощи. Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  },
  {
  img: 'Fotolia_38240300_Subscription_Monthly_M.jpg',
  title: 'Салон красоты',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и ' +
  'детям оказываются все виды медицинской помощи. Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  },
  {
  img: 'Fotolia_65766503_Subscription_Monthly_M.jpg',
  title: 'Лечение крупного скота',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и ' +
  'детям оказываются все виды медицинской помощи. Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  }
  ];

  var servicesListSpa = [
  {
  img: 'Fotolia_85186536_Subscription_Monthly_M.jpg',
  title: 'Лечебный массаж',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и ' +
  'детям оказываются все виды медицинской помощи. Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  },
  {
  img: 'Fotolia_112670618_Subscription_Monthly_M.jpg',
  title: 'Детский массаж',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и ' +
  'детям оказываются все виды медицинской помощи. Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  },
  {
  img: 'Fotolia_108089915_Subscription_Monthly_M.jpg',
  title: 'Cпа-массаж',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и ' +
  'детям оказываются все виды медицинской помощи. Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  },
  {
  img: 'Fotolia_95827657_Subscription_Monthly_M.jpg',
  title: 'Массаж камнями',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и ' +
  'детям оказываются все виды медицинской помощи. Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  }
  ];

  var servicesListYoga = [
  {
  img: 'Fotolia_119839973_Subscription_Monthly_M.jpg',
  title: 'Детская йога',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и ' +
  'детям оказываются все виды медицинской помощи. Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  },
  {
  img: 'Fotolia_110953646_Subscription_Monthly_M.jpg',
  title: 'Йога для беременных',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и ' +
  'детям оказываются все виды медицинской помощи. Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  },
  {
  img: 'Fotolia_119752528_Subscription_Monthly_M.jpg',
  title: 'Хатха-йога',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и ' +
  'детям оказываются все виды медицинской помощи. Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  },
  {
  img: 'Fotolia_120347139_Subscription_Monthly_M.jpg',
  title: 'Аштанга-йога',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и ' +
  'детям оказываются все виды медицинской помощи. Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  }
  ];

mixin services-list(servicesList)
  .-services-list&attributes(attributes)
    .__row.row
      each service, index in servicesList
        .__col.col-xs-12.col-sm-6.col-md-3
          article.-service-item
            +a(`popups/${suffix}/service-1.html`).__img-wrap.glyphicon.glyphicon-plus(data-fancybox='service?1' data-type='ajax' data-fancybox--group)
              img.__img(src=`${paths.imgContent}/services-list/295x185/${service.img}`
              srcset=`${paths.imgContent}/services-list/295x185/${service.img} 1x, ${paths.imgContent}/services-list/590x370/${service.img} 1.25x`
              alt='' data-object-fit='cover' onload='objectFit(this)')
            h3.__title
              +a(`popups/${suffix}/service-1.html`).__title-link(data-fancybox='service?2' data-type='ajax' data-fancybox--group) #{service.title}
            .__description
              p #{service.description}
      // Spacers
      .__col.col-xs-12.col-sm-6.col-md-3
      .__col.col-xs-12.col-sm-6.col-md-3
      .__col.col-xs-12.col-sm-6.col-md-3
      .__col.col-xs-12.col-sm-6.col-md-3