-
  var newsListMedical = [
  {
  img: 'Fotolia_94287949_Subscription_Monthly_M.jpg',
  title: 'Открытие Центра превентивной медицины',
  date: '27 сентября 2016',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи. ' +
  'Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  },
  {
  img: 'Fotolia_103492687_Subscription_Monthly_M.jpg',
  title: 'Стимулы обновления',
  date: '26 сентября 2016',
  description: 'Тематические недели пластической хирургии – наш новый формат консультаций, который сразу же полюбился пациентам. ' +
  'И все благодаря целому ряду приятных возможностей!'
  }
  ];

  var newsListBeauty = [
  {
  img: 'Fotolia_93042705_Subscription_Monthly_M.jpg',
  title: 'Свадебные прически за полцены',
  date: '27 сентября 2016',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи. ' +
  'Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  },
  {
  img: 'Fotolia_119262961_Subscription_Monthly_M.jpg',
  title: 'При заказе прически - макияж в подарок',
  date: '26 сентября 2016',
  description: 'Тематические недели пластической хирургии – наш новый формат консультаций, который сразу же полюбился пациентам. ' +
  'И все благодаря целому ряду приятных возможностей!'
  }
  ];

  var newsListFitness = [
  {
  img: 'Fotolia_87950351_Subscription_Monthly_M.jpg',
  title: 'Скидка 10% на групповые занятия',
  date: '27 сентября 2016',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи. ' +
  'Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  },
  {
  img: 'Fotolia_106667929_Subscription_Monthly_M.jpg',
  title: 'При покупке абонимента - персональный тренер в подарок ',
  date: '26 сентября 2016',
  description: 'Тематические недели пластической хирургии – наш новый формат консультаций, который сразу же полюбился пациентам. ' +
  'И все благодаря целому ряду приятных возможностей!'
  }
  ];

  var newsListPet = [
  {
  img: 'Fotolia_103134575_Subscription_Monthly_M.jpg',
  title: 'Только в мае - обследование бесплатно',
  date: '27 сентября 2016',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи. ' +
  'Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  },
  {
  img: 'Fotolia_53792502_Subscription_Monthly_M.jpg',
  title: '50% скидка на стрижку собак',
  date: '26 сентября 2016',
  description: 'Тематические недели пластической хирургии – наш новый формат консультаций, который сразу же полюбился пациентам. ' +
  'И все благодаря целому ряду приятных возможностей!'
  }
  ];

  var newsListSpa = [
  {
  img: 'Fotolia_104022499_Subscription_Monthly_M.jpg',
  title: 'Скидка 50% на сеанс тайского массажа',
  date: '27 сентября 2016',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи. ' +
  'Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  },
  {
  img: 'Fotolia_119262961_Subscription_Monthly_M.jpg',
  title: 'Массаж лица в подарок',
  date: '26 сентября 2016',
  description: 'Тематические недели пластической хирургии – наш новый формат консультаций, который сразу же полюбился пациентам. ' +
  'И все благодаря целому ряду приятных возможностей!'
  }
  ];

  var newsListYoga = [
  {
  img: 'Fotolia_118363858_Subscription_Monthly_M.jpg',
  title: 'Открытие Центра превентивной медицины',
  date: '27 сентября 2016',
  description: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи. ' +
  'Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  },
  {
  img: 'Fotolia_118333974_Subscription_Monthly_M.jpg',
  title: 'Стимулы обновления',
  date: '26 сентября 2016',
  description: 'Тематические недели пластической хирургии – наш новый формат консультаций, который сразу же полюбился пациентам. ' +
  'И все благодаря целому ряду приятных возможностей!'
  }
  ];

mixin news-list(newsList)
  .-news-list&attributes(attributes)
    .__row.row
      each newItem, index in newsList
        .__col.col-xs-12.col-md-6
          article.-new-item
            +a(`popups/${suffix}/new-1.html`).__inner(data-fancybox='new?1' data-type='ajax' data-fancybox--group)
              .__img-wrap
                .__viewers.glyphicon.glyphicon-viewers(data-val=7*(index + 1))
                img.__img(src=`${paths.imgContent}/news-list/295x295/${newItem.img}`
                srcset=`${paths.imgContent}/news-list/295x295/${newItem.img} 1x, ${paths.imgContent}/news-list/590x590/${newItem.img} 1.25x`
                alt='' data-object-fit='cover' onload='objectFit(this)')
              .__content
                .__header
                  h3.__title #{newItem.title}
                  +time().__date #{newItem.date}
                .__description
                  p #{newItem.description}
                span.__more Подробнее#[span.glyphicon.glyphicon-arr-right]
      // Spacers
      .__col.col-xs-12.col-md-6
      .__col.col-xs-12.col-md-6
      .__col.col-xs-12.col-md-6
      .__col.col-xs-12.col-md-6