include ../blocks/doctype/doctype

+doctype(pages.home.title)._home-project
  header.__header
    .-container-fluid
      .-row
        .-col-sm-8.col-sm-offset-2
          h1.-page.__title #{config.project.name}&#32;
            small #{package.version}&#32;
              +a(package.name.toLowerCase() + '-' + package.version + '.zip') Download ZIP
  main.__content
    .-container-fluid
      .-row
        .-col-sm-4.col-sm-offset-2
          h2= pages.home.title
          ol.-list-pages
            each page, index in pages
              if index !== 'home'
                li
                  +a(page.url) #{page.title} #[small (#{page.url})]
        .-col-sm-4
          h2 Popups
          ol.-list-pages
            each popup, index in popups
              li
                +a(popup.url)(data-fancybox data-type='ajax' data-fancybox--group) #{popup.title} #[small (#{popup.url})]

  footer.__footer
    div &nbsp;
    div &nbsp;
    div &nbsp;