include ../blocks/doctype/doctype
include ../blocks/nav-box/nav-box

block variables
  -
    var pageTitle = pages.index.title,
    pageUrls = [pages.index.url];

include ../blocks/header/header
include ../blocks/content/content
include ../blocks/footer/footer

+doctype(pageTitle)
  .-wrapper
    +header()
    +content()
      .-container-fluid
        .-slider-main.slick-slider(data-slick='{"autoplaySpeed": 7000}')
          .__item.slick-slide.loading
            img.__img(data-lazy=`${paths.imgContent}/slider-main/1140/BANNER-NEW-FORMAT.jpg`
            alt='' data-object-fit='cover' onload='objectFit(this)')
            .__content
              h1.__title(data-text='ВСЁ НАЧИНАЕТСЯ СО ЗДОРОВОЙ УЛЫБКИ!')
              +a().__btn.btn.btn_1 Записаться на приём
          .__item.slick-slide.loading
            img.__img(data-lazy=`${paths.imgContent}/slider-main/1140/BANNER-NEW-FORMAT.jpg`
            alt='' data-object-fit='cover' onload='objectFit(this)')
            .__content
              h1.__title(data-text='Заголовок слайда 2')
              +a().__btn.btn.btn_1 Записаться на приём
      .-container-fluid
        section.-section
          h2.__title Цифровая дентальная лаборатория "ZSmile Digital"
          .-about-list
            +a().__item
              .__img-wrap
                img.__img(src=`${paths.imgContent}/about-list/icon1.svg` alt='')
              .__title Одни из лучших керамистов города
            +a().__item
              .__img-wrap
                img.__img(src=`${paths.imgContent}/about-list/icon2.svg` alt='')
              .__title Авторский подход к эстетике
            +a().__item
              .__img-wrap
                img.__img(src=`${paths.imgContent}/about-list/icon3.svg` alt='')
              .__title Изготовление ультратонких виниров
            +a().__item
              .__img-wrap
                img.__img(src=`${paths.imgContent}/about-list/icon4.svg` alt='')
              .__title Фрезерный Cad/Cam центр
            +a().__item
              .__img-wrap
                img.__img(src=`${paths.imgContent}/about-list/icon5.svg` alt='')
              .__title Изготовление хирургических шаблонов
            +a().__item
              .__img-wrap
                img.__img(src=`${paths.imgContent}/about-list/icon6.svg` alt='')
              .__title Тотальные ресторации на имплантах
            +a().__item
              .__img-wrap
                img.__img(src=`${paths.imgContent}/about-list/icon7.svg` alt='')
              .__title Сжатые сроки изготовления протезов
            +a().__item
              .__img-wrap
                img.__img(src=`${paths.imgContent}/about-list/icon8.svg` alt='')
              .__title Хорошая логистика по Москве
          .-content.__columns.row
            .__col._1.col-xs-12.col-md-9
              p В любом современном стоматологическом центре зуботехническая лаборатория занимает особое и ответственное место. Сегодня собственная лаборатория - это не роскошь, а необходимость, особенно когда речь идет о целой сети стоматологических клиник, например, такой, как «ZSmile Digital».
              p Именно тесное взаимодействие техников, керамистов, CAD-проектировщиков и CAM-технологов с лечащими врачами-стоматологами центра гарантируют пациенту такие преимущества, как:
              ul
                li сжатые сроки изготовления протезов, виниров и коронок;
                li визуализация будущей работы не только на мониторе компьютера, но и в виде модели;
                li высокие эстетические показатели финальной работы (анатомическая форма, цвет, оттенок, градиент, прозрачность);
                li идеальное прилегание и полная совместимость всех элементов конструкции;
                li быстрое обслуживание уже изготовленных и починка старых протезов и пр.
                li В нашей цифровой дентальной лаборатории  "ZSmile Digital" расположен современный фрезерный Cad/Cam центр (Computer Aided Design - компьютерное проектирование, Computer Aided Manufacturing - компьютерное изготовление). Кроме пластиковых, металлокерамических и цельнокерамических коронок и протезов, во фрезерном центре изготавливаются позиционные хирургические шаблоны для малоинвазивной сверхточной имплантации, а также ортодонтические эллайнеры для быстрого и незаметного исправления неправильного прикуса.
              p Современные фрезерные Сad/Сam системы позволяют изготавливать высокоточные изделия с краевым прилеганием 20 мкм и менее, а также обрабатывать высокопрочные и инновационные материалы (титан, хром-кобальт, диоксид циркония, peek, pmma, trinia, enamic и др). Важнейшая составляющая профессиональной зуботехнической лаборатории – это кадры. В «ZSmile Digital» работают высококвалифицированные специалисты таких специализаций, как: моделировщики, литейщики, техники-каркасисты, керамисты, инженеры и проектировщики Cad/Cam.
              p К примеру, многие наши керамисты имеют дипломы и медали специализированных чемпионатов ассоциации «СтАР», проходили обучение и стажировку у видных западных специалистов. Однако лучшее признание мастерства наших сотрудников «ZSmile Digital» – это многочисленные отзывы довольных пациентов.
              p Индивидуальный подход и авторская реализация любого изделия - девиз команды цифровой дентальной лаборатории  "ZSmile Digital" . Благодаря высокому качеству продукции (протезы, эллайнеры, хирургические шаблоны, индивидуальные абатменты), использованию самого современного оборудования и программного обеспечения, зуботехническая лаборатория «ZSmile Digital» обслуживает не только клиники сети «Здоровая Улыбка», но и другие известные в Москве стоматологические центры.
              section.-section
                h2.__title Статьи

            .__col._2.col-xs-12.col-md-3
              .-row
                .-col-xs-12.col-sm-6.col-md-12
                  nav.-menu-categories
                    .__item._current
                      +a().__btn Комплексная имплантация зубов
                    .__item
                      +a().__btn Эстетическая реставрация зубов
                    .__item
                      +a().__btn Пародонтология
                    .__item
                      +a().__btn Отбеливание зубов
                    .__item
                      +a().__btn Ортодонтия
                    .__item
                      +a().__btn Детская стоматология
                    .__item
                      +a().__btn Компьютерный томограф
                    .__item
                      +a().__btn Зуботехническая лаборатория
                .-col-xs-12.col-sm-6.col-md-12
                  aside.-news-aside
                    h2.__title-sect Активные новости
                    article.__item
                      h3.__title Имплантация без швов и разрезов
                      .__description
                        p В стоматологическом центре «Академия Денталь» у метро Фрунзенская имплантация зубов проводится  с применением индивидуальных позиционных хирургических шаблонов. Это позволяет минимизировать травму – обойтись без разрезов и наложения швов.
                      +a().__read-more Читать далее
                    article.__item
                      h3.__title Керамические виниры и люминиры
                      .__description
                        p Эстетическая реставрация зубов с помощью керамических виниров и люминиров занимает особое место в нашем центре. Благодаря слаженной работе стоматологов-ортопедов и зубных техников «Академии Денталь», создаются настоящие, без преувеличения, шедевры.
                      +a().__read-more Читать далее
                    article.__item
                      h3.__title Лечение под микроскопом
                      .__description
                        p В нашем стоматологическом центре лечением и перелечиванием зубных каналов занимаются узкоспециализированные специалисты — эндодонты. Благодаря профессиональному дентальному микроскопу, открываются новые возможности в зубосохраняющем лечении.
                      +a().__read-more Читать далее
                    article.__item
                      h3.__title Имплантация без швов и разрезов
                      .__description
                        p В стоматологическом центре «Академия Денталь» у метро Фрунзенская имплантация зубов проводится  с применением индивидуальных позиционных хирургических шаблонов. Это позволяет минимизировать травму – обойтись без разрезов и наложения швов.
                      +a().__read-more Читать далее
                    article.__item
                      h3.__title Керамические виниры и люминиры
                      .__description
                        p Эстетическая реставрация зубов с помощью керамических виниров и люминиров занимает особое место в нашем центре. Благодаря слаженной работе стоматологов-ортопедов и зубных техников «Академии Денталь», создаются настоящие, без преувеличения, шедевры.
                      +a().__read-more Читать далее
    +footer()