include ../blocks/doctype/doctype
include ../blocks/nav-box/nav-box
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/reviews-list/reviews-list
include ../blocks/social-networks/social-networks

block variables
  -
    var pageTitle = pages.index.title,
    pageUrls = [pages.index.url];

include ../blocks/header/header
include ../blocks/content/content
include ../blocks/footer/footer

+doctype(pageTitle)
  .-wrapper
    +header()
    +content()
      +breadcrumbs([{title: pages.page.title, url: pages.page.url}])
      .-container-fluid
        .-about-list
          +a().__item
            .__img-wrap
              img.__img(src=`${paths.imgContent}/about-list/icon1.svg` alt='')
            .__title Одни из лучших керамистов города
          +a().__item
            .__img-wrap
              img.__img(src=`${paths.imgContent}/about-list/icon2.svg` alt='')
            .__title Авторский подход к эстетике
          +a().__item
            .__img-wrap
              img.__img(src=`${paths.imgContent}/about-list/icon3.svg` alt='')
            .__title Изготовление ультратонких виниров
          +a().__item
            .__img-wrap
              img.__img(src=`${paths.imgContent}/about-list/icon4.svg` alt='')
            .__title Фрезерный Cad/Cam центр
          +a().__item
            .__img-wrap
              img.__img(src=`${paths.imgContent}/about-list/icon5.svg` alt='')
            .__title Изготовление хирургических шаблонов
          +a().__item
            .__img-wrap
              img.__img(src=`${paths.imgContent}/about-list/icon6.svg` alt='')
            .__title Тотальные ресторации на имплантах
          +a().__item
            .__img-wrap
              img.__img(src=`${paths.imgContent}/about-list/icon7.svg` alt='')
            .__title Сжатые сроки изготовления протезов
          +a().__item
            .__img-wrap
              img.__img(src=`${paths.imgContent}/about-list/icon8.svg` alt='')
            .__title Хорошая логистика по Москве
        .-content.__columns.row
          .__col._1.col-xs-12.col-md-9
            article.-section
              h1.__title Комплексная имплантация зубов
              .-banners._2
                img(src=`${paths.imgContent}/banners/BANNER-IMPLANT.jpg` alt='')
              .-contents-article(id='contents')
                .__title Содержание статьи:
                ul.__list
                  li.__list-item
                    +a('#what-is-it') Что такое комплексная имплантация зубов?
                  li.__list-item
                    +a Преимущества комплексной имплантации
                  li.__list-item
                    +a Как проводят комплексную имплантацию
                  li.__list-item
                    +a Стоимость имплантации и что в нее входит
                  li.__list-item
                    +a Примеры комплексной имплантации
                  li.__list-item
                    +a Как узнать подойдет ли мне этот метод?
                  li.__list-item
                    +a('#questions') Часто задаваемые вопросы
                  li.__list-item
                    +a('#reviews') Отзывы пациентов о методе

              section.-section(id='what-is-it')
                h2.__title Что такое комплексная имплантация зубов?
                .-content-block
                  p Если у пациента отсутствуют все зубы на челюсти, нет необходимости устанавливать имплантат под каждую зубную коронку по отдельности. Это дорого, долго и травматично. Достаточно грамотно установить всего 4 или 6 имплантатов и зафиксировать на них протез так, чтобы нагрузка на челюстную кость была равномерно распределена. Такая имплантация в кругу стоматологов получила название комплексная (англ., full mouth implants).
                  blockquote
                   p Итак, комплексная имплантация зубов – это функциональное и эстетическое восстановление всего зубного ряда при помощи имплантатов и несъемного или условно-съемного протеза.
                  img(src=`${paths.imgContent}/pic1.jpg` alt='' width='550')

                  h3 В каких случаях проводится комплексная имплантация?
                  ul
                    li Отсутствие всех зубов челюсти (полная адентия);
                    li Отсутствие всех жевательных зубов при пародонтите фронтальных зубов;
                    li Генерализованный пародонтит челюсти 3-4 степени;
                    li Расшатывание опорных зубов на мостовидных протезах и др.

                  h3 Основные методы комплексной имплантации сегодня:
                  ul
                    li Комплексная имплантация зубов на корневидных имплантатах. Винтовая несъемная фиксация мостовидного протеза на 6 или 8 имплантатах.
                    li All-on-4 (все на четырех). Винтовая несъемная фиксация протеза на 4-х традиционных имплантатах, объединенных единой балкой.
                    li Базальная имплантация (кортикальная или бикортикальная). Несъемная фиксация протеза с помощью цемента на 8 или 10 имплантатах особой формы.
                    li Фиксация съемных протезов. Условно-съемная фиксация акриловых протезов с помощью 2-х или 4-х имплантатов. Это самый экономичный вариант, при котором протез необходимо снимать на ночь.

                  p Комплексная имплантация зубов сегодня очень востребована, и в стоматологической поликлинике «Здоровая Улыбка» ей уделяют особое внимание.

                  blockquote
                    p Российскими учеными под руководством профессора кафедры ортопедической стоматологии МГМСУ, д.м.н. Миргазизова М.З. и практикующими стоматологами нашего центра была разработана комплексная программа имплантации с моментальной нагрузкой, которая получила название - крестальная комплексная имплантация зубов (от англ. crestal - альвеолярный гребень). Данный метод имплантации выгодно отличается от тех, что представлены на рынке стоматологических услуг в нашей стране.

                  p Комплексная крестальная имплантация зубов, которую практикуют в нашем центре, не новый и не экспериментальный метод. Она проводится с применением классических имплантологических систем, а хирургические и ортопедические этапы проходят согласно международным протоколам лечения. При этом специалисты центра «Здоровая Улыбка» используют уникальные запатентованных ноу-хау разработки в конструкции самого протеза, что позволяет проводить моментальное протезирование сразу после установки имплантатов.
                  img(src=`${paths.imgContent}/pic2.jpg` alt='' width='550')

              .-usability-block
                .__col._1
                  | Информация и запись на прием: #[br]
                  +a('tel:+74996788081').__link +7 (499) 678-80-81
                .__col._2
                  +a('#contents').__link-to-top.glyphicon.glyphicon-to-top Вверх #[br]к содержанию статьи
                .__col._3
                  +a().-btn._3 Оформить заявку

              section.-section(id='questions')
                h2.__title Часто задаваемые вопросы
                article.-question-item
                  header.__header
                    h3.__title Мой врач сказал мне, что после установки имплантов нужно ждать не менее 4 месяцев, чтобы поставить протез. Почему вы ставите протез сразу на 4-й день? Разве импланты не должны срастись с костью?
                  .__answer
                    p Метод комплексной крестальной имплантации предполагает моментальное протезирование сразу после установки имплантов. Имплантаты Osstem обладают очень выраженной первичной стабильностью и надежно фиксируются (шинируются) между собой мостовидным протезом, именно поэтому вся конструкция получается надежная и прочная. Полное срастание имплантатов с костью происходит через 3-6 месяцев.
                article.-question-item
                  header.__header
                    h3.__title Из какого материала изготавливаются зубные импланты, которые вы устанавливаете, и сам протез?
                  .__answer
                    p Имплантаты OSSTEM изготовлены из чистого медицинского титана - биоинертного (невидимого) для организма человека материала.
                    p Фрезерованный протез изготовлен по технологии cad/cam из высокопрочного гипоаллергенного материала  РММА (Poly methyl methacrylate).
                article.-question-item
                  header.__header
                    h3.__title Не поняла из текста статьи, нужен ли про вашей комплексной имплантации синус-лифтинг или нет? Я была на консультации в одном центре, где мне сказали, что можно и без него, хотя все другие врачи говорят.
                  .__answer
                    p Метод комплексной крестальной имплантации, который используют в нашем центре, позволяет обойтись без синус-лифтинга приблизительно в 30% случаев. Все будет завесить от размера и анатомических особенностей гайморовых пазух, плотности костной ткани и возможности поставить имплантаты под углом. Мы используем международные протоколы зубной имплантации и не ставим экспериментов над своими пациентами. Поэтому если наш специалист назначает синус-лифтинг, он в первую очередь руководствуется главным постулатом клятвы Гиппократа – «не навреди».
                article.-question-item
                  header.__header
                    h3.__title Мой врач сказал мне, что после установки имплантов нужно ждать не менее 4 месяцев, чтобы поставить протез. Почему вы ставите протез сразу на 4-й день? Разве импланты не должны срастись с костью?
                  .__answer
                    p Метод комплексной крестальной имплантации предполагает моментальное протезирование сразу после установки имплантов. Имплантаты Osstem обладают очень выраженной первичной стабильностью и надежно фиксируются (шинируются) между собой мостовидным протезом, именно поэтому вся конструкция получается надежная и прочная. Полное срастание имплантатов с костью происходит через 3-6 месяцев.
                article.-question-item
                  header.__header
                    h3.__title Из какого материала изготавливаются зубные импланты, которые вы устанавливаете, и сам протез?
                  .__answer
                    p Имплантаты OSSTEM изготовлены из чистого медицинского титана - биоинертного (невидимого) для организма человека материала. Фрезерованный протез изготовлен по технологии cad/cam из высокопрочного гипоаллергенного материала  РММА (Poly methyl methacrylate).

              .-usability-block
                .__col._1
                  | Информация и запись на прием: #[br]
                  +a('tel:+74996788081').__link +7 (499) 678-80-81
                .__col._2
                  +a('#contents').__link-to-top.glyphicon.glyphicon-to-top Вверх #[br]к содержанию статьи
                .__col._3
                  +a().-btn._3 Оформить заявку

              section.-section(id='reviews')
                h2.__title Отзывы пациентов о комплексной имплантации зубов
                +reviews-list(reviewsList)
                .-reviews-options
                  +a().__item Читать все отзывы
                  +a().__item Оставить свой отзыв

              .-usability-block
                .__col._1
                  | Информация и запись на прием: #[br]
                  +a('tel:+74996788081').__link +7 (499) 678-80-81
                .__col._2
                  +a('#contents').__link-to-top.glyphicon.glyphicon-to-top Вверх #[br]к содержанию статьи
                .__col._3
                  +a().-btn._3 Оформить заявку

              +social-networks()

          .__col._2.col-xs-12.col-md-3
            .-row
              .-col-xs-12.col-sm-6.col-md-12
                nav.-menu-categories
                  .__item._current
                    +a().__btn Комплексная имплантация зубов
                  .__item
                    +a().__btn Эстетическая реставрация зубов
                  .__item
                    +a().__btn Пародонтология
                  .__item
                    +a().__btn Отбеливание зубов
                  .__item
                    +a().__btn Ортодонтия
                  .__item
                    +a().__btn Детская стоматология
                  .__item
                    +a().__btn Компьютерный томограф
                  .__item
                    +a().__btn Зуботехническая лаборатория
              .-col-xs-12.col-sm-6.col-md-12
                aside.-news-aside
                  h2.__title-sect Активные новости
                  article.__item
                    h3.__title Имплантация без швов и разрезов
                    .__description
                      p В стоматологическом центре «Академия Денталь» у метро Фрунзенская имплантация зубов проводится  с применением индивидуальных позиционных хирургических шаблонов. Это позволяет минимизировать травму – обойтись без разрезов и наложения швов.
                    +a().__read-more Читать далее
                  article.__item
                    h3.__title Керамические виниры и люминиры
                    .__description
                      p Эстетическая реставрация зубов с помощью керамических виниров и люминиров занимает особое место в нашем центре. Благодаря слаженной работе стоматологов-ортопедов и зубных техников «Академии Денталь», создаются настоящие, без преувеличения, шедевры.
                    +a().__read-more Читать далее
                  article.__item
                    h3.__title Лечение под микроскопом
                    .__description
                      p В нашем стоматологическом центре лечением и перелечиванием зубных каналов занимаются узкоспециализированные специалисты — эндодонты. Благодаря профессиональному дентальному микроскопу, открываются новые возможности в зубосохраняющем лечении.
                    +a().__read-more Читать далее
                  article.__item
                    h3.__title Имплантация без швов и разрезов
                    .__description
                      p В стоматологическом центре «Академия Денталь» у метро Фрунзенская имплантация зубов проводится  с применением индивидуальных позиционных хирургических шаблонов. Это позволяет минимизировать травму – обойтись без разрезов и наложения швов.
                    +a().__read-more Читать далее
                  article.__item
                    h3.__title Керамические виниры и люминиры
                    .__description
                      p Эстетическая реставрация зубов с помощью керамических виниров и люминиров занимает особое место в нашем центре. Благодаря слаженной работе стоматологов-ортопедов и зубных техников «Академии Денталь», создаются настоящие, без преувеличения, шедевры.
                    +a().__read-more Читать далее
              .-col-xs-12
                .-banners
                  img(src=`${paths.imgContent}/banners/banner-left-colomn.png` alt='')
    +footer()