-
  var photosListMedical = [
  {
  img: 'Fotolia_103968342_Subscription_Monthly_M1.jpg',
  caption: 'Мероприятия'
  },
  {
  img: 'Fotolia_98084818_Subscription_Monthly_M1.jpg',
  caption: 'Заголовок длинный длинный заголовок'
  },
  {
  img: 'Fotolia_78678976_Subscription_Monthly_M1.jpg',
  caption: 'Заголовок'
  },
  {
  img: 'Fotolia_82745345_Subscription_Monthly_M-(2)1.jpg',
  caption: 'Заголовок'
  },
  {
  img: 'Fotolia_78678976_Subscription_Monthly_M1.jpg',
  caption: 'Заголовок'
  },
  {
  img: 'Fotolia_82745345_Subscription_Monthly_M-(2)1.jpg',
  caption: 'Заголовок'
  },
  {
  img: 'Fotolia_103968342_Subscription_Monthly_M1.jpg',
  caption: 'Мероприятия'
  },
  {
  img: 'Fotolia_98084818_Subscription_Monthly_M1.jpg',
  caption: 'Заголовок длинный длинный заголовок'
  }
  ];

  var photosListBeauty = [
  {
  img: 'Fotolia_61536045_Subscription_Monthly_M.jpg',
  caption: 'Мероприятия'
  },
  {
  img: 'Fotolia_61536249_Subscription_Monthly_M.jpg',
  caption: 'Заголовок длинный длинный заголовок'
  },
  {
  img: 'Fotolia_61536385_Subscription_Monthly_M1.jpg',
  caption: 'Заголовок'
  },
  {
  img: 'Fotolia_61572776_Subscription_Monthly_M.jpg',
  caption: 'Заголовок'
  },
  {
  img: 'Fotolia_61964705_Subscription_Monthly_M.jpg',
  caption: 'Заголовок'
  },
  {
  img: 'Fotolia_61964763_Subscription_Monthly_M.jpg',
  caption: 'Заголовок'
  },
  {
  img: 'Fotolia_61964832_Subscription_Monthly_M.jpg',
  caption: 'Мероприятия'
  },
  {
  img: 'Fotolia_61964865_Subscription_Monthly_M.jpg',
  caption: 'Заголовок длинный длинный заголовок'
  }
  ];

  var photosListFitness = [
  {
  img: 'Fotolia_59277561_Subscription_Monthly_M.jpg',
  caption: 'Мероприятия'
  },
  {
  img: 'Fotolia_110192784_Subscription_Monthly_M.jpg',
  caption: 'Заголовок длинный длинный заголовок'
  },
  {
  img: 'Fotolia_93557519_Subscription_Monthly_M.jpg',
  caption: 'Заголовок'
  },
  {
  img: 'Fotolia_52519744_Subscription_Monthly_M.jpg',
  caption: 'Заголовок'
  },
  {
  img: 'Fotolia_106891851_Subscription_Monthly_M.jpg',
  caption: 'Заголовок'
  },
  {
  img: 'Fotolia_92829015_Subscription_Monthly_M.jpg',
  caption: 'Заголовок'
  },
  {
  img: 'Fotolia_98944249_Subscription_Monthly_M.jpg',
  caption: 'Мероприятия'
  },
  {
  img: 'Fotolia_107013609_Subscription_Monthly_M.jpg',
  caption: 'Заголовок длинный длинный заголовок'
  }
  ];

  var photosListPet = [
  {
  img: 'Fotolia_107403792_Subscription_Monthly_M.jpg',
  caption: 'Мероприятия'
  },
  {
  img: 'Fotolia_107404547_Subscription_Monthly_M.jpg',
  caption: 'Заголовок длинный длинный заголовок'
  },
  {
  img: 'Fotolia_107405249_Subscription_Monthly_M.jpg',
  caption: 'Заголовок'
  },
  {
  img: 'Fotolia_107405297_Subscription_Monthly_M.jpg',
  caption: 'Заголовок'
  },
  {
  img: 'Fotolia_107405468_Subscription_Monthly_M.jpg',
  caption: 'Заголовок'
  },
  {
  img: 'Fotolia_107405513_Subscription_Monthly_M.jpg',
  caption: 'Заголовок'
  },
  {
  img: 'Fotolia_107405647_Subscription_Monthly_M.jpg',
  caption: 'Мероприятия'
  },
  {
  img: 'Fotolia_107405684_Subscription_Monthly_M.jpg',
  caption: 'Заголовок длинный длинный заголовок'
  }
  ];

  var photosListSpa = [
  {
  img: '369127.jpg',
  caption: 'Мероприятия'
  },
  {
  img: 'candles-and-towel-154418691.jpg',
  caption: 'Заголовок длинный длинный заголовок'
  },
  {
  img: 'gallery1481360327_233.jpg',
  caption: 'Заголовок'
  },
  {
  img: 'grand-velas-riviera-nayarit-spa-top.jpg',
  caption: 'Заголовок'
  },
  {
  img: 'spa_main_07.jpg',
  caption: 'Заголовок'
  },
  {
  img: 'spa-3.jpg',
  caption: 'Заголовок'
  },
  {
  img: 'spa-treatments-free-resolution-81970.jpg',
  caption: 'Мероприятия'
  },
  {
  img: 'massage_swedish01.jpg',
  caption: 'Заголовок длинный длинный заголовок'
  }
  ];

  var photosListYoga = [
  {
  img: 'Fotolia_48659291_Subscription_Monthly_M.jpg',
  caption: 'Мероприятия'
  },
  {
  img: 'Fotolia_92842055_Subscription_Monthly_M.jpg',
  caption: 'Заголовок длинный длинный заголовок'
  },
  {
  img: 'Fotolia_80133957_Subscription_Monthly_M.jpg',
  caption: 'Заголовок'
  },
  {
  img: 'Fotolia_80133908_Subscription_Monthly_M.jpg',
  caption: 'Заголовок'
  },
  {
  img: 'Fotolia_80133873_Subscription_Monthly_M.jpg',
  caption: 'Заголовок'
  },
  {
  img: 'Fotolia_80134015_Subscription_Monthly_M.jpg',
  caption: 'Заголовок'
  },
  {
  img: 'Fotolia_80134050_Subscription_Monthly_M.jpg',
  caption: 'Мероприятия'
  },
  {
  img: 'Fotolia_80134066_Subscription_Monthly_M.jpg',
  caption: 'Заголовок длинный длинный заголовок'
  }
  ];

mixin photos-list(photosList)
  .-photos-list&attributes(attributes)
    .__row.row
      each photo, index in photosList
        .__col.col-xs-6.col-sm-4.col-md-3
          figure.-photo-item(data-fancybox=`album-1-photos` data-type='image'
          data-src=`${paths.imgContent}/photos-list/${photo.img}` data-fancybox--gallery data-caption=`<strong>${photo.caption}</strong> &#8226; 27 сентября 2016`)
            img.__img(src=`${paths.imgContent}/photos-list/295x295/${photo.img}`
            srcset=`${paths.imgContent}/photos-list/295x295/${photo.img} 1x, ${paths.imgContent}/photos-list/590x590/${photo.img} 1.25x`
            alt=photo.caption data-object-fit='cover' onload='objectFit(this)')
            //-
              figcaption.__caption.glyphicon.glyphicon-plus
                .__title(title=photo.caption) #{photo.caption}
                +time().__date(title='27 сентября 2016') 27 сентября 2016
      // Spacers
      .__col.col-xs-6.col-sm-4.col-md-3
      .__col.col-xs-6.col-sm-4.col-md-3
      .__col.col-xs-6.col-sm-4.col-md-3
      .__col.col-xs-6.col-sm-4.col-md-3