-
  var articlesList = [
  {
  img: 'img-1',
  title: 'Прикосновение к истории',
  description: 'У каждой страны и города своя длинная история и присущий только ей колорит. Людям всегда интересно прикоснуться к древнему миру, где-то когда-то проходило великое сражение или казнили короля.'
  },
  {
  img: 'img-1',
  title: 'Погружение в другую культуру',
  description: 'За две недели путешествия по культурным центрам можно посмотреть не только музейные экспонаты, а также изучит архитектуру города, попробовать традиционные блюда и познакомится с жизнью местных жителей.'
  },
  {
  img: 'img-1',
  title: 'Направление на Россию',
  description: 'За последние несколько лет сфера российского туризма подросла и окрепла. Предложения туроператоров отдохнуть в Москве или Краснодаре не уступают по качеству и стоимости отдыха в Праге.'
  }
  ];

mixin articles-list(list)
  .-articles-list&attributes(attributes)
    .__row.row
      each item, index in list
        .__col.col-xs-12.col-sm-6.col-md-4
          article.-article-item
            .__img-wrap
              img.__img(src=`${paths.imgContent}/articles-list/370x287/img-${index + 1}.jpg`
              alt='' data-object-fit='cover' onload='objectFit(this)')
            .__content
              h3.__title !{item.title}
              .__description
                p !{item.description}

      // Spacers
      .__col.col-xs-12.col-sm-6.col-md-4
      .__col.col-xs-12.col-sm-6.col-md-4
      .__col.col-xs-12.col-sm-6.col-md-4