include ../rating/rating

-
  var reviewsList= [
  {
  img: 'otz1',
  name: 'Виктор',
  location: 'г. Надым',
  rating: 1,
  content: 'Совершенно случайно в Москве попал в клинику «Здоровая Улыбка» и с удивлением для себя узнал о методе комплексной имплантации. Через 2 месяца, взвесив все за и против, согласился на операцию и ни на секунду не пожалел. Большое спасибо докторам за мою ЗДОРОВУЮ УЛЫБКУ!'
  },
  {
  img: 'otz2',
  name: 'Наталья Владимировна',
  location: 'г. Москва',
  rating: 2,
  content: 'Выражаю сердечную благодарность Прокофьевой Ольге Викторовне и Мартынюку Алексею Викторовичу за прекрасно проделанную работу. Благодаря имплантации, которую они сделали, я на всю жизнь сказала НЕТ съемному протезу.'
  },
  {
  img: 'otz3',
  name: 'Дмитрий Олегович',
  location: 'г. Санкт-Петербург',
  rating: 5,
  content: 'Я сам врач и преподаватель в одном из ВУЗов в Санкт-Петербурге. Давно мечтал закрыть свой зубной вопрос. Долго выбирал клинику и врача. В итоге, благодаря совету своих коллег, провел комплексную имплантацию в вашем центре и с большим удивлением обнаружил для себя, насколько это может быть быстро, безболезненно и главное не так дорого, как я думал. Большое спасибо виртуозному хирургу Канату Тураровичу, его ассистенту Анастасии, ортопедам Иолане Вячеславовне и Алексею Викторовичу. Смело готов рекомендовать вашу клинику всем своим знакомым.'
  }
  ];

mixin reviews-list(list)
  .-reviews-list&attributes(attributes)
    each item, index in list
      article.-review-item
        .__col-1
          img.__img(src=`${paths.imgContent}/reviews-list/164x152/${item.img}.jpg`
          alt='')
        .__col-2
          .__header
            h3.__title !{item.name}
            .__location !{item.location}
            +rating(item.rating).review-item__rating
          .__content
            p !{item.content}