include ../countdown/countdown

-
  var sliderMainMedical = [
  {
  title: 'Центр превентивной медицины',
  text: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи. ' +
  'Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.',
  articles: [
  {
  icon: 'glyphicon-stat',
  title: 'Круглосуточные стационары',
  text: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи. ' +
  'Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  },
  {
  icon: 'glyphicon-sister',
  title: 'Вызов врача на дом',
  text: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи. ' +
  'Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  },
  {
  icon: 'glyphicon-heart',
  title: 'Экстренная хирургическая помощь',
  text: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи. ' +
  'Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  }
  ]
  },
  {
  title: 'При оформлении услуги скидка 50%',
  text: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи. ' +
  'Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  },
  {
  title: 'При оформлении услуги скидка 50%',
  text: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи. ' +
  'Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  }
  ];

  var sliderMainBeauty = [
  {
  title: 'Термальная зона и бассейн',
  text: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи. ' +
  'Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.',
  articles: [
  {
  icon: 'glyphicon-manicur',
  title: 'Услуги маникюра и педикюра',
  text: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи. ' +
  'Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  },
  {
  icon: 'glyphicon-volos',
  title: 'Процедуры по уходу за волосами',
  text: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи. ' +
  'Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  },
  {
  icon: 'glyphicon-brov',
  title: 'Коррекция бровей и ресниц',
  text: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи. ' +
  'Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  }
  ]
  },
  {
  title: 'При оформлении услуги скидка 50%',
  text: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи. ' +
  'Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  },
  {
  title: 'При оформлении услуги скидка 50%',
  text: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи. ' +
  'Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  }
  ];

  var sliderMainFitness = [
  {
  title: 'Залы для занятия спортом в вашем городе',
  text: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи. ' +
  'Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.',
  articles: [
  {
  icon: 'glyphicon-fitness-1',
  title: 'Групповые программы',
  text: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи. ' +
  'Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  },
  {
  icon: 'glyphicon-fitness-2',
  title: 'Программы по лечебному контролю',
  text: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи. ' +
  'Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  },
  {
  icon: 'glyphicon-fitness-3',
  title: 'Тренажерный зал',
  text: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи. ' +
  'Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  }
  ]
  },
  {
  title: 'При оформлении услуги скидка 50%',
  text: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи. ' +
  'Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  },
  {
  title: 'При оформлении услуги скидка 50%',
  text: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи. ' +
  'Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  }
  ];

  var sliderMainPet = [
  {
  title: 'Ветеренарный центр здоровья и реабилитации животных',
  text: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи. ' +
  'Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.',
  articles: [
  {
  icon: 'glyphicon-pet-1',
  title: 'Круглосуточные центры',
  text: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи. ' +
  'Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  },
  {
  icon: 'glyphicon-pet-2',
  title: 'Вызов ветеринара на дом',
  text: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи. ' +
  'Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  },
  {
  icon: 'glyphicon-pet-3',
  title: 'Экстренная хирургическая помощь',
  text: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи. ' +
  'Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  }
  ]
  },
  {
  title: 'При оформлении услуги скидка 50%',
  text: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи. ' +
  'Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  },
  {
  title: 'При оформлении услуги скидка 50%',
  text: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи. ' +
  'Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  }
  ];

  var sliderMainSpa = [
  {
  title: 'Термальная зона и бассейн',
  text: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи. ' +
  'Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.',
  articles: [
  {
  icon: 'glyphicon-spa-1',
  title: 'Турецкая парная Хамам',
  text: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи. ' +
  'Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  },
  {
  icon: 'glyphicon-spa-2',
  title: 'Aква-термальный комплекс',
  text: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи. ' +
  'Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  },
  {
  icon: 'glyphicon-spa-3',
  title: 'Сауна Sanarium',
  text: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи. ' +
  'Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  }
  ]
  },
  {
  title: 'При оформлении услуги скидка 50%',
  text: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи. ' +
  'Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  },
  {
  title: 'При оформлении услуги скидка 50%',
  text: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи. ' +
  'Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  }
  ];

  var sliderMainYoga = [
  {
  title: 'Первая в России сеть специализированных центров',
  text: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи. ' +
  'Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.',
  articles: [
  {
  icon: 'glyphicon-yoga-1',
  title: 'Круглосуточные центры',
  text: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи. ' +
  'Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  },
  {
  icon: 'glyphicon-yoga-2',
  title: 'Вызов терапевта на дом',
  text: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи. ' +
  'Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  },
  {
  icon: 'glyphicon-yoga-3',
  title: 'Помощь специалиста',
  text: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи. ' +
  'Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  }
  ]
  },
  {
  title: 'При оформлении услуги скидка 50%',
  text: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи. ' +
  'Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  },
  {
  title: 'При оформлении услуги скидка 50%',
  text: 'Наш формат - универсальная семейная клиника, в которой взрослым и детям оказываются все виды медицинской помощи. ' +
  'Диагностика, лечение и профилактика заболеваний по всем направлениям современной медицины.'
  }
  ];

mixin slider-main(sliderMain)
  .-slider-main.slick-slider(data-slick='{"autoplay": true, "autoplaySpeed": 7000, "pauseOnHover": false}' data-slideout-ignore)&attributes(attributes)
    .__item.slick-slide.loading
      img.__img(data-lazy=`${paths.imgContent}/slider-main/1920/slide-1.jpg`
      data-lazy-srcset=`${paths.imgContent}/slider-main/1366/slide-1.jpg 1366w, ${paths.imgContent}/slider-main/1920/slide-1.jpg 1920w, ${paths.imgContent}/slider-main/4096/slide-1.jpg 4096w`
      sizes='100vw'
      alt='' data-object-fit='cover' onload='objectFit(this)')
      .-container-fluid
        .-row
          .-col-sm-10.col-md-8.col-lg-7
            .-slider-main.__content
              h1.__title !{sliderMain[0].title}
              .__text.hidden-sm
                p !{sliderMain[0].text}
              article.__article.hidden-xs
                .__article-icon.glyphicon(class=sliderMain[0].articles[0].icon)
                h2.__article-title !{sliderMain[0].articles[0].title}
                .__article-text
                  p !{sliderMain[0].articles[0].text}
              article.__article.hidden-xs
                .__article-icon.glyphicon(class=sliderMain[0].articles[1].icon)
                h2.__article-title !{sliderMain[0].articles[1].title}
                .__article-text
                  p !{sliderMain[0].articles[1].text}
              article.__article.hidden-xs
                .__article-icon.glyphicon(class=sliderMain[0].articles[2].icon)
                h2.__article-title !{sliderMain[0].articles[2].title}
                .__article-text
                  p !{sliderMain[0].articles[2].text}
              +a().-btn._2.hidden-sm.hidden-md.hidden-lg(data-fancybox='feedback' data-type='ajax' data-src=popups.feedback.url data-fancybox--single) Напишите нам
    .__item.slick-slide.loading
      img.__img(data-lazy=`${paths.imgContent}/slider-main/1920/slide-2.jpg`
      data-lazy-srcset=`${paths.imgContent}/slider-main/1366/slide-2.jpg 1366w, ${paths.imgContent}/slider-main/1920/slide-2.jpg 1920w, ${paths.imgContent}/slider-main/4096/slide-2.jpg 4096w`
      sizes='100vw'
      alt='' data-object-fit='cover' onload='objectFit(this)')
      .-container-fluid
        .-row
          .-col-sm-10.col-md-8.col-lg-7
            .-slider-main.__content
              h2.__title !{sliderMain[1].title}
              .__text.hidden-sm
                p !{sliderMain[1].text}
              p.-slider-main.__action.hidden-xs: strong.
                Торопитесь! До конца акции осталось:
              +countdown().hidden-xs(data-time='1514667600000')
              +a().-btn._2 Получить скидку
    .__item.slick-slide.loading
      img.__img(data-lazy=`${paths.imgContent}/slider-main/1920/slide-3.jpg`
      data-lazy-srcset=`${paths.imgContent}/slider-main/1366/slide-3.jpg 1366w, ${paths.imgContent}/slider-main/1920/slide-3.jpg 1920w, ${paths.imgContent}/slider-main/4096/slide-3.jpg 4096w`
      sizes='100vw'
      alt='' data-object-fit='cover' onload='objectFit(this)')
      .-container-fluid
        .-row
          .-col-sm-10.col-md-8.col-lg-7
            .-slider-main.__content
              h2.__title.hidden-xs !{sliderMain[2].title}
              .__text.hidden-xs.hidden-sm
                p !{sliderMain[2].text}
              form.-form-order
                .-form-row
                  label.-form-label
                    input.-text-field.required(type='text' name='name' required data-msg-required='Введите имя')
                    span.__text Ваше имя
                .-form-row
                  label.-form-label
                    input.-text-field.required(type='email' name='email' required data-msg-required='Введите e-mail' data-msg-email='Некорректный e-mail')
                    span.__text Ваш e-mail
                .-form-row
                  label.-form-label
                    textarea.-text-field._textarea.required(name='msg' required data-msg-required='Введите сообщение')
                    span.__text Какая услуга вам необходима?
                .-form-row
                  button.-btn._2(type='submit') Оставить заявку